<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <title> RegExp </title>
    <script src="<%= process.env.PUBLIC_PATH %>jquery.min.js"></script>
    <script src="<%= process.env.PUBLIC_PATH %>popper.min.js"></script>
    <script src="<%= process.env.PUBLIC_PATH %>bootstrap.min.js"></script>
    <!-- <script src="<%= process.env.PUBLIC_PATH %>ZeroClipboard.min.js"></script> -->
    <!-- <script src="<%= process.env.PUBLIC_PATH %>ZeroClipboard.swf"></script> -->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?be8c39154477e75ec3ffa8c89fbe106d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body>

    <div id="root"></div>

</body>

</html>